*{
    padding: 0; 
    margin: 0; 
}
@font-face {
    font-family: soft-font;
    src: url(./resources/fonts/VarelaRound-Regular.ttf);
}
img{
    --width: 4rem;
    width: var(--width); 
    height: var(--width); 
    filter: brightness(0%);    
}
/* img:hover{
    cursor: pointer; 
} */
footer{
    margin-top: auto; 
    margin-bottom: 1rem;
}
ul{
    list-style-type: none;
    display: grid;
    grid-auto-flow: column;
    gap:.5rem; 
}
#portrait-photo{
    --width: calc(18vw + 10px); 
    width: var(--width); 
    height: var(--width);
    background-image: url("./resources/images/portrait.jpg");
    background-size: cover; 
    background-position: center center; 
    border-radius: calc(var(--width)/2);
    border: black solid 1px; 
    margin: 3rem;
}
.center-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
body{
    min-height: 100vh; 
    background-color: #1e1e1e;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#greet{
    font-family:soft-font; 
}